$color-texto: black;
$color-header: #d4d0c9;
$color-titulo: #404849;
$color-main: #d4d0c9;
$colores: (
  color1: $color-titulo,
  color2: $color-header,
  color3: $color-texto,
  color4: $color-main,
);
